
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">

      <%= link_to "COMMERCE EN LIGNE",   root_path, class:"navbar-brand" %>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"> <%= link_to "ACCEUIL",   root_path  %> </li>
      <li> <%= link_to "A PROPOS",  apropos_path %> </li>
      <li> <%= link_to "AIDE",   aide_path  %> </li>
    </ul>
  </div>
</nav>
