<nav class="navbar navbar-inverse ">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li ><a href="#">ACCEUIL</a></li>
      <li><a href="#">A PROPOS </a></li>
      <li><a href="#">AIDE</a></li>
    </ul>
  </div>
</nav>
